{% extends 'announcements/base.html' %}


{% block body %}
    <div class="container-md main-content" id="mainContent">
        <h1 class="text-center">Dashboard</h1>
        <p class="text-center">Latest announcements for students</p>

        <!-- Latest Announcements -->
         
         {% if official %}
            <div class="announcement-card card me-4">
                <div class="card-body">
                    <h5 class="card-title"><a href="#">{{ official.title }}</a></h5>
                    <p class="card-text">Staff: <span class="text-warning">{{ official.announcer.office }}</span></p>
                    <p class="card-text"><small class="text-muted">Announced on: {{ official.post_time.date }}</small></p>
                    <p class="card-text">{{ official.content |slice:50 }}...</p>
                </div>
            </div>
         {% endif %}
            
        
        {% if event %}
            <div class="announcement-card card me-4">
                <div class="card-body">
                    <h5 class="card-title"><a href="#">{{ event.title }}</a></h5>
                    <p class="card-text">Staff: <span class="text-warning">{{ event.announcer.name }}</span></p>
                    <p class="card-text"><small class="text-muted">Announced on: {{ event.post_time.date }}</small></p>
                    <p class="card-text">{{ event.content |slice:50 }}...</p>
                </div>
            </div>
        {% endif %}
            
    </div>
{% endblock body %}
    