{% extends 'announcements/base.html' %}


{% block body %}
    <div class="container-md main-content" id="mainContent">
        <h1 class="text-center">Official Announcements</h1>
        <br>

        <div class="mb-4 me-4 row">
            <div class="col-6 col-md-4 ms-auto">
                <form action="{% url 'announcements_search' 'official' %}" method="get">
                    <input type="text" name="search_phrase" class="form-control border border-primary" placeholder="Search announcements...">
                    <button type="submit">Search</button>
                </form>
            </div>
        </div>
        
        
        {% if result_count %}
            <div class="align-self-center">{{ result_count }} announcements found</div>
        {% endif %}
            
        
        {% for announcement in announcements %}
            <div class="announcement-card card me-4">
                <div class="card-body">
                    <h5 class="card-title"><a href="#">{{ announcement.title }}</a></h5>
                    <p class="card-text">Staff: <span class="text-warning">{{ announcement.announcer.office }}</span></p>
                    <p class="card-text"><small class="text-muted">Announced on: {{ announcement.post_time.date }}</small></p>
                    <p class="card-text">{{ announcement.content |slice:50 }}...</p>
                </div>
            </div>    
        {% endfor %}
            
        

        
{% endblock body %}
    